


// RESPONSIVE BREAKPOINTS
$bp-largestxxx: 93.75em;   // 1500px
$bp-largestxx: 87.5em;   // 1400px
$bp-largestx: 81.25em;   // 1300px
$bp-largest: 75em;   // 1200px
$bp-largex: 68.75em;   // 1100px
$bp-large: 62.5em;   // 1000px
$bp-mediumx: 56.25em; // 900px;
$bp-medium: 50em;    // 800px;
$bp-xmedium : 43.75; // 700px
$bp-small: 37.5em;    // 600px;


///////////////////////////
/// global reset

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

}

html { 
    box-sizing: border-box;
    font-size: 62.5%;   // 1 rem = 10px ,  10px / 16px = 62.5%

    @media only screen and (max-width : $bp-large)  {
        font-size: 50%;     // 1 rem = 8px , 8px/16px = 59%  
                
    }
}

body {
    
    
    font-family: 'Poppins';
}


.container {

    max-width: 1320px;
    margin: auto;
    // background-color: brown;
}