.news {

    padding: 8rem 0;
    background-color:  #E5E5E5;

    &__row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;

    }

    &__logo1-div {

    }

    &__logo1 {

    }
}